csharp/WCFPerformanceTest/Old/CallTestService/Service References/ServiceReference1/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8732/Design_Time_Addresses/WcfServiceLibrary1/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfMonitoredItemValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MonitoredItemValue" type="tns:MonitoredItemValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMonitoredItemValue" nillable="true" type="tns:ArrayOfMonitoredItemValue" />
  <xs:complexType name="MonitoredItemValue">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemIdentity_ContextName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemIdentity_Id" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="ItemIdentity_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemIdentity_ReferenceType" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="ItemIdentity_Type" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="RuntimeValue_Quality" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="RuntimeValue_Timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RuntimeValue_Variant_Length" type="xs:int" />
      <xs:element minOccurs="0" name="RuntimeValue_Variant_Payload" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="RuntimeValue_Variant_Type" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="Variant_Length" type="xs:int" />
      <xs:element minOccurs="0" name="Variant_Payload" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Variant_Type" type="xs:unsignedShort" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MonitoredItemValue" nillable="true" type="tns:MonitoredItemValue" />
</xs:schema>